

/*entry page*/
#createAccountButton, #logInButton {
    -fx-background-image: url("images/entryButtom.png");
    -fx-background-size: cover;
}

#userName, #pass{
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

#backPane{
    -fx-background-color: rgba(0, 0, 0, 0.6);
}

/*main page*/

.button{
    -fx-background-size: cover;
    -fx-background-color: none;
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-font-weight: bold;
}

.button:hover{
    -fx-font-size: 24px;
    -fx-pref-height: default;
    -fx-pref-width: default;
}

#play{
    -fx-background-image: url("images/playButton.png");
    -fx-background-radius: 100px 100px 0px 0px;
    -fx-font-size: 24px;
}

#status{
    -fx-background-image: url("images/statusButton.png");
}

#settings{
    -fx-background-image: url("images/settingsButton.png");
}

#mainExitButton{
    -fx-background-image: url("images/mainExitButton.png");
}

#shop{
    -fx-background-image: url("images/shopButton.png");
}

#collections{
    -fx-background-image: url("images/collectionsButton.png");
}

/*exit page*/
#exitPane{
    -fx-background-color: transparent;
    -fx-background-image: url("images/exitBackground.png");
    -fx-background-size: cover;
    /*-fx-shape: "M 0 0 L 375 0 L 371 -150 L 266 -154 L 251 -161 L 117 -168 L 110 -150 L 15 -150";*/
}

#stayButton{
}

#stayButton:hover{
    -fx-font-size: 14px;
}

#leaveButton{
}

#leaveButton:hover{
    -fx-font-size: 14px;
}


/*Collections page*/
#manaButtonBar .button{
    -fx-background-image: url("images/manaButton.png");
}

#collectionsBackButton{
    -fx-background-image: url("images/collectionsBackButton.png");
}

#newDeckButton{
    -fx-background-image: url("images/newDeckButton.png");
    /*-fx-border-color: none;*/
}

#warrior{
    -fx-background-image: url("images/warriorButton.png");
    /*-fx-border-color: none;*/
}

#warlock{
    -fx-background-image: url("images/warlockButton.png");
    /*-fx-border-color: none;*/
}

#shaman{
    -fx-background-image: url("images/shamanButton.png");
    /*-fx-border-color: none;*/
}

#sevenPlusManaButton{
    -fx-background-image: url("images/sevenPlusManaButton.png");
    /*-fx-border-color: none;*/
}

#rogue{
    -fx-background-image: url("images/rogueButton.png");
    /*-fx-border-color: none;*/
}

#priest{
    -fx-background-image: url("images/priestButton.png");
    /*-fx-border-color: none;*/
}

#paladin{
    -fx-background-image: url("images/paladinButton.png");
    /*-fx-border-color: none;*/
}

#neutral{
    -fx-background-image: url("images/neutralButton.png");
    /*-fx-border-color: none;*/
}


#mage{
    -fx-background-image: url("images/mageButton.png");
    /*-fx-border-color: none;*/
}

#hunter{
    -fx-background-image: url("images/hunterButton.png");
    /*-fx-border-color: none;*/
}

#druid{
    -fx-background-image: url("images/druidButton.png");
    /*-fx-border-color: none;*/
}

#demonHunter{
    -fx-background-image: url("images/demonHunterButton.png");
    /*-fx-border-color: none;*/
}

#craftingButton{
    -fx-background-image: url("images/craftingButton.png");
    /*-fx-border-color: none;*/
}

#collectionsFiltersTab{
    -fx-background-image: url("images/collectionsFiltersButton.png");
    /*-fx-border-color: none;*/
}

#collectionsExitButton{
    -fx-background-image: url("images/collectionsExitButton.png");
    /*-fx-border-color: none;*/
}


/*Collections filter tab*/
#collectionsFilterTab .button{
    -fx-background-image: url("images/filterButton.png");
    -fx-border-color: none;
    -fx-text-alignment: Left;
    -fx-font-size: 16px;
}